.Spaghetti-container {
   display: flex;
   width: 500px;
   height: 250px;
   background-color: white;
   align-items: center;
   justify-content: center;
   position: absolute;
   top: 400px;
   left: 600px;
}

.Spaghetti-title {
   color: black;
}

.Spaghetti-img {
   width: 25%;
   padding-left: 50px;
}